In [1]:
import pandas as pd
from IPython.display import display

In [43]:
rep="/Users/gilles/Downloads/"
fLexFilms4=rep+"Lexique4_min+filtr+cat+separ+corr3.tsv"
df=pd.read_csv(filepath_or_buffer=fLexFilms4,sep="\t",header=None,skip_blank_lines=True,encoding="utf8")
df.columns="graphie lemme cat infover genre nombre occurrences".split(" ")
df.head()

        graphie        lemme  cat    infover genre nombre  occurrences
0      fossiles      fossile  ADJ        NaN   NaN      p         41.0
1        clopes       cloper  VER  sub:pre:2   NaN      s          1.0
2       ardeurs       ardeur  NOM        NaN     f      p        143.0
3  translations  translation  NOM        NaN   NaN    NaN          3.0
4    antidrogue   antidrogue  ADJ        NaN     m      s         36.0

df["graphie"]=df["graphie"].astype("unicode")
df["graphie"] = df["graphie"].apply(lambda x: x.encode('utf-8').strip())
df.info()

# Contrôles de cohérence

## Genre & Nombre

### Genre

In [12]:
condGenre=(df["cat"].isin(["NOM","ADJ"]))&(df["genre"].notnull())&(~df["genre"].isin(["f","m"]))
df[condGenre].head()

          graphie      lemme  cat infover genre nombre  occurrences
96511      gluant     gluant  ADJ   par:p     e      r         24.0
157666  attrayant  attrayant  ADJ   par:p     e      r         16.0

### Nombre

In [14]:
condGenre=(df["cat"].isin(["NOM","ADJ"]))&(df["nombre"].notnull())&(~df["nombre"].isin(["s","p"]))
df[condGenre].head()

          graphie      lemme  cat infover genre nombre  occurrences
96511      gluant     gluant  ADJ   par:p     e      r         24.0
157666  attrayant  attrayant  ADJ   par:p     e      r         16.0

Il y a un problème avec gluant et attrayant, qui ont été classés comme ADJ, parce que l'étiquette part:pre a été mal traitée. Il y a un problème plus général avec les participes présents qui ont aussi un infover par:p avec le genre e et le nombre r, probablement suite à la même erreur.

## Infover

### Infover sans verbe

In [5]:
condInfover=(~df["cat"].isin(["VER","AUX"]))&(df["infover"].notnull())
df[condInfover].head()

        graphie     lemme  cat    infover genre nombre  occurrences
538     cymbale   cymbale  NOM  ind:pre:1   NaN      s          2.0
1308      mitre     mitre  NOM  ind:pre:3   NaN      s          1.0
2360  camarades  camarade  NOM  sub:pre:2   NaN      s         19.0
3647    skipper   skipper  NOM        inf   NaN    NaN         12.0
5127  portraits  portrait  NOM   par:pas:     m      p         11.0

### Verbe sans infover

In [6]:
condVerInfover=(df["cat"].isin(["VER","AUX"]))&(df["infover"].isnull())
df[condVerInfover].head()

      graphie     lemme  cat infover genre nombre  occurrences
26     voulez   vouloir  VER     NaN   NaN    NaN          9.0
130  renifles  renifler  VER     NaN   NaN    NaN          1.0
141   donnera    donner  VER     NaN   NaN    NaN          2.0
368    tuerai      tuer  VER     NaN   NaN    NaN          1.0
421   alerter   alerter  VER     NaN   NaN    NaN          1.0

### Cohérence des formes graphiques

In [86]:
condInf=((df["cat"].isin(["VER","AUX"]))
         &(df["graphie"].str[-2:]=="er")
         &(~df["infover"].isin(["inf","inf;"]))&df["infover"].notnull())
df[condInf].head()

         graphie        lemme  cat    infover genre nombre  occurrences
134  empoisonner  empoisonner  VER  ind:pre:2   NaN      p          1.0
262       monter       monter  VER  imp:pre:2   NaN      p          1.0
407    dispenser    dispenser  VER  ind:pre:2   NaN      p          1.0
627       abuser       abuser  VER  ind:pre:2   NaN      p          1.0
666     nettoyer     nettoyer  VER  imp:pre:2   NaN      p          1.0

Les 1201 formes en -er précédentes sont classés comme des formes finies.

**Problème avec la comparaison de chaine utf8, la condition d'égalité donne un message d'erreur à propos de l'encodage.**
```
condPP=(df["cat"].isin(["VER","AUX"]))&(df["graphie"].str[-1:]==u"é")
```
**La comparaison avec une liste fonctionne...**

In [87]:
condNotPP=((df["cat"].isin(["VER","AUX"]))
           &(~df["infover"].isin(["par:pas:"])
           &(df["infover"].notnull())))

condFinPP=((df["graphie"].str[-1:].isin([u"é"]))
           |(df["graphie"].str[-2:].isin([u"ée",u"és"]))
           |(df["graphie"].str[-3:].isin([u"éeS"])))
df[condNotPP&condFinPP].head()

      graphie     lemme  cat    infover genre nombre  occurrences
90      nommé    nommer  VER  ind:imp:3   NaN      s          1.0
319  effrayée  effrayer  VER  ind:imp:3   NaN      s          1.0
445     nommé    nommer  VER  ind:imp:3   NaN      p          4.0
659   défoncé  défoncer  VER  ind:imp:3   NaN      p          1.0
712      noté     noter  VER  ind:imp:3   NaN      p          2.0

Les 1175 formes en -é, -és, -ée, -ées sont mal étiquetées.

In [108]:
cond2P=((df["cat"].isin(["VER","AUX"]))
        &(df["infover"].str.contains("2"))
        &(~df["infover"].str.contains("ind:pas", na=False))
        &(df["nombre"]=="p"))

condFin2P=(~df["graphie"].str[-2:].isin([u"ez"]))
df[cond2P&condFin2P].head()

         graphie        lemme  cat    infover genre nombre  occurrences
134  empoisonner  empoisonner  VER  ind:pre:2   NaN      p          1.0
262       monter       monter  VER  imp:pre:2   NaN      p          1.0
407    dispenser    dispenser  VER  ind:pre:2   NaN      p          1.0
627       abuser       abuser  VER  ind:pre:2   NaN      p          1.0
666     nettoyer     nettoyer  VER  imp:pre:2   NaN      p          1.0

Les 1323 formes de 2PL qui ne sont pas en -ez sont mal étiquetées.

In [110]:
cond1P=((df["cat"].isin(["VER","AUX"]))
        &(df["infover"].str.contains("1"))
        &(~df["infover"].str.contains("ind:pas", na=False))
        &(df["nombre"]=="p"))

condFin1P=(~df["graphie"].str[-3:].isin([u"ons"]))
df[cond1P&condFin1P]#.head()

           graphie       lemme  cat    infover genre nombre  occurrences
566       accordes    accorder  VER  ind:pre:1   NaN      p          1.0
1776       couvres     couvrir  VER  ind:pre:1   NaN      p          1.0
3404       laisses     laisser  VER  ind:pre:1   NaN      p         16.0
6524      indiques    indiquer  VER  ind:pre:1   NaN      p          1.0
10491      trouves     trouver  VER  ind:pre:1   NaN      p          1.0
13596    expliques   expliquer  VER  ind:pre:1   NaN      p          1.0
14747      ramènes     ramener  VER  ind:pre:1   NaN      p          2.0
19737         fous      foutre  VER  ind:pre:1   NaN      p        102.0
25476    souhaites   souhaiter  VER  ind:pre:1   NaN      p          1.0
29346       donnes      donner  VER  sub:pre:1   NaN      p          5.0
37486        files       filer  VER  ind:pre:1   NaN      p          1.0
38961       entres      entrer  VER  ind:pre:1   NaN      p          2.0
41140     épargnes    épargner  VER  ind:pre:1   NaN      p          1.0
45016       serais        être  VER  cnd:pre:1   NaN      p          1.0
50172       passes      passer  VER  ind:pre:1   NaN      p          1.0
54500      montres     montrer  VER  sub:pre:1   NaN      p          2.0
59180       sommes        être  VER  ind:pre:1   NaN      p      98792.0
62829     délivres    délivrer  VER  ind:pre:1   NaN      p          1.0
65371     dessines    dessiner  VER  ind:pre:1   NaN      p          1.0
66105      donnent      donner  VER  ind:pre:1   NaN      p          1.0
68449    retrouves   retrouver  VER  ind:pre:1   NaN      p          2.0
76922        aides       aider  VER  ind:pre:1   NaN      p          7.0
77914     apportes    apporter  VER  ind:pre:1   NaN      p          2.0
78098     relâches    relâcher  VER  ind:pre:1   NaN      p          1.0
92556    pardonnes   pardonner  VER  ind:pre:1   NaN      p          3.0
94236      tractes     tracter  VER  ind:pre:1   NaN      p          1.0
94440      dégages     dégager  VER  sub:pre:1   NaN      p          1.0
95389       gardes      garder  VER  ind:pre:1   NaN      p          1.0
101990     emmènes     emmener  VER  ind:pre:1   NaN      p          1.0
103808    regardes    regarder  VER  ind:pre:1   NaN      p          9.0
...            ...         ...  ...        ...   ...    ...          ...
107207     secoure    secourir  VER  sub:pre:1   NaN      p          2.0
107820    apportes    apporter  VER  sub:pre:1   NaN      p          1.0
119319      sommes        être  AUX  ind:pre:1   NaN      p      35130.0
122001     montres     montrer  VER  ind:pre:1   NaN      p          5.0
122173      sommes        être  VER  imp:pre:1   NaN      p          6.0
124933      parles      parler  VER  ind:pre:1   NaN      p         20.0
140361          as       avoir  VER  ind:pre:1   NaN      p          1.0
145497     trouves     trouver  VER  sub:pre:1   NaN      p          1.0
145590    appelles     appeler  VER  ind:pre:1   NaN      p          5.0
163382      sommes        être  AUX  imp:pre:1   NaN      p         28.0
166201      sauves      sauver  VER  ind:pre:1   NaN      p          1.0
167648       aides       aider  VER  sub:pre:1   NaN      p          3.0
170127     pointer     pointer  VER  ind:pre:1   NaN      p          1.0
174409     libères     libérer  VER  ind:pre:1   NaN      p          1.0
176778    protèges    protéger  VER  ind:pre:1   NaN      p          1.0
177842     excuses     excuser  VER  ind:pre:1   NaN      p          7.0
185318      guides      guider  VER  ind:pre:1   NaN      p          2.0
186426   construit  construire  VER  ind:pre:1   NaN      p          1.0
187521     laisses     laisser  VER  sub:pre:1   NaN      p          3.0
189128   appellent     appeler  VER  ind:pre:1   NaN      p          1.0
189226     envoies     envoyer  VER  ind:pre:1   NaN      p          3.0
194881      donnes      donner  VER  ind:pre:1   NaN      p         23.0
197182     écoutes     écouter  VER  ind:pre:1   NaN      p          4.0
210078  rapproches  rapprocher  VER  ind:pre:1   NaN      p          2.0
212659   rappelles    rappeler  VER  ind:pre:1   NaN      p          3.0
213052       payes       payer  VER  ind:pre:1   NaN      p          1.0
213618      amènes      amener  VER  ind:pre:1   NaN      p          3.0
219781     dégages     dégager  VER  ind:pre:1   NaN      p          1.0
221609      parles      parler  VER  sub:pre:1   NaN      p          1.0
223571    racontes    raconter  VER  ind:pre:1   NaN      p          6.0

[61 rows x 7 columns]